<%-include('partials/header.ejs')%>
    <title>Bienvenue sur le site des Alumnis de Simplon</title>
    <meta name="description" content="Page d'accueil de l'application St-go, qui vous demande de vous enregistrer ou de vous connecter.">
</head>
<body>
    <div class="row">
        <img class="col s2 m2 offset-m5 offset-s5" src="/img/logo.png" alt="Logo Simplon">
        <div class="col s12 m4 offset-m4 center-align">
            <h2>Alumnis Simplon</h2>
        </div>
        <div class="col s12 m4 offset-m4 center-align">
            <div class="card">
                <div class="card-action red lighten-2 white-text">
                    <h5>Bienvenue</h5>
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <a class="green" href="/login">
                            <button class="btn waves-effect waves-light red lighten-2">Se connecter</button>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <a class="green" href="/register">
                            <button class="btn waves-effect waves-light red lighten-2">S'enregistrer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
<%- include('partials/footer.ejs')%>